tr,th,td {
    border-collapse: collapse  ;
    padding: 20px;

    
    
}
tr,th,td{
    width: 300px;
    height: 300px;
}
.td1{
    background-color: orange;
}
.tdd{
    background-color: rgb(81, 156, 156);
}
.td3{
    background-color: rgb(30, 58, 58);
}
.tab{
    margin: auto;
    height: "";
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}